HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#Ignore Secret Files
/src/main/resources/DB_HOST.txt
/src/main/resources/DB_NAME.txt
/src/main/resources/DB_PASSWORD.txt
/src/main/resources/DB_PORT.txt
/src/main/resources/DB_USER.txt
/src/main/resources/.env
entrypoint.sh
Dockerfile